<head>
    <meta name ="viewport" content ="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>

<body>
    <div class="container">
        <div class="reply-container">
            <h3>Gemini's Response:</h3>
            <div class="reply-content newspaper-format">
                <article class="newspaper-article">
                    <div class="article-content">
                        {{r|safe}}
                    </div>
                </article>
            </div>
        </div>
        <form action="/main" method="get">      
            <input type="submit" value="Main">
        </form>
    </div>
</body>

