<head>
    <meta name ="viewport" content ="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>

<body>
    <div class="container">
        <div class="reply-container">
            <h3>Telegram Response:</h3>
            <div class="reply-content">
                <div class="message-box">
                    {{r_text}}
                </div>
            </div>
        </div>
        <form action="/main" method="get">      
            <input type="submit" value="Main" class="main-btn">
        </form>
    </div>
</body>

